<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CutFolder" value="InputCustomers" />
    <add key="OrdersFolder" value="InputOrders" />
	<add key="ProductsFolder" value="InputProducts" />

    <add key="BackupFolder" value="Backup" />
    <add key="OutputFolder" value="Output" />
	<add key="OutputOrdersfile" value="ImportOdersTextBplus.xlsx" />
    <add key="OutputCustomersfiles" value="ImportCustomerText2Bplus.xlsx" />
	  <add key="OutputGrayCustomerfiles" value="ManulAdjustCustomerList.xlsx" />	  
	  <add key="ReportOrdersDailySummary" value="ReportOders.xlsx" />
    <add key="systemLogFolder" value="System" />   
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="CustMapList" value="CustMapList.txt" />
	<add key="OdersMapList" value="OrdermapList.txt" />
	  <add key="ProductsMapList" value="ItemMapList.txt" />
	<add key="Delay" value="50000" />
	<add key="ExportAllOnStop" value="YES" />
	  <add key="EnbleEditCustmer" value="YES" />
	  <add key="EnbleShowData" value="YES" />
  	  
  </appSettings>
	<connectionStrings>
		<add name="DBConn"
         connectionString="SERVER=localhost;DATABASE=epndb;UID=epndb;PASSWORD=P1PP3R;"     
       />
	</connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>